doctype html
html(lang="en")
  head
    title MyApp
    //- link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    header 
    h2 #{output}
    //使任何值都可以從這加入
    block content
    footer 